<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="~{navigationPanel :: head(#{dashboard})}"></head>
<body>
<nav th:replace="~{navigationPanel :: nav}"></nav>

<h1 th:text="|#{update} #{transfer}|">Update transfer:</h1>
<form method="post" th:object="${transfer}"  th:action="@{addTransfer}" enctype="multipart/form-data">
    <p th:text="#{makeAndModel}">Make and model</p>
    <input type="text" th:field="*{makeAndModel}" th:value="*{makeAndModel}">
    <p th:text="#{vehicleRegistrationNumber}">Vehicle Registration Number</p>
    <input type="text" th:field="*{vehicleRegistrationNumber}" th:value="*{vehicleRegistrationNumber}">
    <p th:text="#{numberOfSeats}">Number of seats</p>
    <input type="text" th:field="*{numberOfSeats}" th:value="*{numberOfSeats}">
    <p th:text="#{color}">Color</p>
    <select th:field="*{color}" th:value="*{color}">
        <option th:each="color : ${T(by.local.entity.Color).values()}"
                th:value="${color}" th:text="${color}"></option>
    </select>
    <p th:text="|#{select} #{aFileToUpload}|">Select a file to upload</p>
    <input type="file" name="file" />
    <input type="submit" value="Submit" th:value="#{submit}"/>
</form>
<!--    <script th:src="@{/js/validateForm.js}"></script>-->
</body>
</html>